:root {
    --primary-color: rgb(134, 3, 3);  
  }

/*
  // POP-UP 
  //hover different colors for left/right

  //HEADER
  // make new header class for search/buttons/title


// RESULTS
//percentage bar showing whos winning (60/40 left is winning, left's bar is across 60% of the screen)
*/

/* Add this to your existing CSS */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    background-color: rgba(255, 255, 255, 0.659);
    padding: 100px;
    border-radius: 5px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.new-button {
    background-color: transparent;
    border: 2px solid #ddd;
    cursor: pointer;
    padding: 20px;
    margin: 10px;
    color: #fff;
    transition: background-color 0.3s ease;
    align-self: flex-start; /* Align button at the top */
    font-size: 26px;
}
.new-button:hover {
    background-color: yellow; /* Change to desired hover color for ok-button */
}

.new-button#fu-button:hover {
    background-color: pink; /* Change to desired hover color for fu-button */
}
 
.second-header-content {
    display: flex; /* Display navigation as an inline block */
    justify-content: space-between;
    align-items: center;
    margin: auto;
    /* background-color: var(--primary-color); */ 
    background-color: black;
    padding: auto;
    font-size: 26px;
    color: white;
    font-weight: bold;
}
.second-header-content a {
    color: white;
    flex-grow: 1; /* Updated */
}

.second-header-content a#fracc {
    text-decoration: none;
}

.second-header-button {
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    color: #fff;
    transition: background-color 0.3s ease;
    font-size: 20px;
}

.second-header-button#menu-button {
    background-color: white;
    color: black;
    margin-right: 8.5%;
}

.second-header-button#login-button {
    background-color: #007bff;
    color: #fff; 
}
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    text-align: center;
    padding: auto;
}

.title {
    font-size: 36px;
    color: green;
}

.subheader {
    font-size: 28px;
}

.link {
    font-size: 24px;
    color: blue;
    text-decoration: underline;
    cursor: pointer; /* Change cursor to pointer on hover */
}
/* Add this to your existing CSS */
.columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align columns' content at the top */
}
/* Add this to your existing CSS */
.column {
    width: calc(50% - 5px); /* Subtract 1px to account for the line's width */
    padding: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in the width */
    font-size: 24px; /* Adjust the font size for the title */
}
