/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Style for header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Style for title */
h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Style for navigation */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Additional CSS for menu bar and button */
.menu-bar {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

#menu-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

/* Add this to your existing CSS */
.button-container {
    background-color: transparent;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.menu-bar.menu-open .button-container {
    background-color: blue; /* Change this to your desired color */
}

/* Add this to your existing CSS */
.content {
    text-align: center;
    padding: 40px;
}

.subheader {
    font-size: 28px;
    margin-bottom: 20px;
}

.columns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.column {
    width: 48%; /* Adjust as needed to leave a small gap between columns */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.column h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.column input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
